.line{
    border: 1px solid black;
    min-height: 100px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    button{
        background-color: rgb(246, 186, 19);
        align-self: center;
    }    
}
.buttonLine{
    display: flex;
    flex-direction: column;
    justify-content: center;
}